<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Search Engine Web App</display-name>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.document.SearchServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.user.register.SignUpServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.user.ProfileServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.user.VerifyEmailServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FollowUserServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.user.FollowUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.course.CourseServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CrawlerServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.document.crawler.CrawlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.server.IndexServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HelpServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.server.HelpServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>fall2018.cscc01.team5.searchEngineWebApp.user.Notifications.NotificationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HelpServlet</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/verify-email</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FollowUserServlet</servlet-name>
        <url-pattern>/follow-user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/course</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CrawlerServlet</servlet-name>
        <url-pattern>/crawler</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>

    <listener>
        <listener-class>
            fall2018.cscc01.team5.searchEngineWebApp.server.SearchEngineServletContextListener
        </listener-class>
    </listener>
</web-app>
