header {
    display: block;
    background-color: #FFFFFF;
    padding-bottom: 1%;
    border-bottom: 3px solid #0b1252;
}

header img {
    display: inline-block;
}

.header-choices {
    display: inline-block;
    float: right;
    padding-right: 2%
}

.header-choices a{
    text-decoration: none;
    color: #0a0cad;
    font-size: 20px;
    float: right;
    padding-top: 160%;
}
