header {
    display: block;
    background-color: #FFFFFF;
    padding-bottom: 1%;
    border-bottom: 3px solid #0b1252;
}

header img {
    display: inline-block;
}

.header-choices {
    display: inline-block;
    float: right;
    padding-right: 2%
}

.header-choices a {
    text-decoration: none;
    color: #0a0cad;
    font-size: 20px;
    float: right;
    padding-top: 160%;
}


/* * {
    margin: 0;
}

.header {
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 100%;
    font-size: 30px;
}

.header a {
    color: #00204E;
    text-decoration: none;
    padding-right: 30px;
}

.header-choices {
    float: right;
    z-index: 3;
    padding-top: 90px;
    padding-right: 20px;
}

.header img {
    padding-bottom: 10px;
    padding-left: 10px;
} */
