.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#update-user {
    width: 100%;
    height: auto;
    background: rgba(59, 59, 59, 0.22);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.item-label {
    width: 200px;
    text-align: right;
    color: rgb(20, 20, 20);
    padding-right: 5px;
    font-weight: bold;
}

.item-input {
    border: none;
    width: 300px;
    height: 25px;
    padding-left: 5px;
    border-radius: 2px;
}

.separator {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    border-bottom: 1px solid #999;

}

.change-password-form {
    display: none;
}