.search-results {
    text-align: center;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.904);
    margin: 2%;
    padding: 0px;
}

.results-table {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page-move-btn {
    transition-duration: 0.15s;
    height: 25px;
    width: 80px;
    background: #33A2FF;
    border: 2px;
    border-radius: 2px;
    color: white;
    font-size: 12pt;
}

#active-page {

    color: #33A2FF;
    font-weight: bold;

}

.page-num {

    padding-left: 8px;
    padding-right: 8px;

}

a {
  text-decoration: none;
}

.search-results-item {
    width: 95% !important;
    height: 33% !important;
    min-height: 150px !important;
    padding: 10px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    margin-bottom: 5px !important;
}

.search-results-item  i {
    font-size: 30pt !important;
    line-height: 30pt !important;
    padding: 0 !important;
    margin: 0 !important;
}
.search-results-item-info {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 25px;
}

.file-name {
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.file-name .label {
    margin-left: 15px !important;
    left: 15px !important;
}

.file-course, .file-owner {
    color: #999;
}

.pagination {
    position: absolute;
    z-index: 2;
    top: 90%;
}

.pagination button:hover {
    cursor: pointer;
}

.total-results {
    position: absolute !important;
    top: 17% !important;
}

.content-snip {
	text-align: left;
	margin-top: 1em;
	margin-bottom: 1em;
}

.content-snip b {
	color: #33A2FF;
	font-weight: bold;
}

.search-results-containter {
    padding: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.filters-containter {
    
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: red;
    padding: 10px !important;
    z-index: 10 !important;
}

#show-filters {
    padding: 5px !important;
    background: white !important;
    border: 1px solid #999 !important;
    width: 30px !important;
    min-width: 30px !important;
    max-width: 30px !important;
    height: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
}

.mobile {
    display: none !important;
}

#show-filters i {
    margin:0 !important;
    padding: 0 !important;
}

.filter-graphs {
    z-index: 10 !important;
}

@media (max-width: 1600px) {
    .mobile {
        display: block !important;
    }
    
    .search-results {
        width: 98%;
    }

    .filter-graphs {
        display: none;
        z-index: 10 !important;
    }

    .filters-containter {
        z-index: 10;
        position: absolute !important;
        width: auto;
        height: auto;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    .search-results-containter {
        justify-content: flex-end;
        align-items: flex-start;
        padding-top: 10px;
    }

    .search-results-item {
        height: 33% !important;
        max-height: 35% !important;
    }

    .search-results-item-info *{
        font-size: 9pt;
    }

    .file-name {
        font-size: 10pt;
    }

    .search-results-item  i {
        font-size: 24pt;
    }

    .page-move-btn {
        font-size: 11pt;
    }

    .label {
        font-size: 8pt !important;
    }
}
