.search-results {
    text-align: center;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.904);
    margin: 2%;
    padding: 20px;
}

.results-table {
    text-align: left;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-move-btn {
    transition-duration: 0.15s;
    height: 25px;
    width: 80px;
    background: #33A2FF;
    border: 2px;
    border-radius: 2px;
    color: white;
    font-size: 15px;
}

#active-page {

    color: #33A2FF;
    font-weight: bold;

}

.page-num {

    padding-left: 8px;
    padding-right: 8px;

}

a {
  text-decoration: none;
}

td {

  padding-bottom: 1.5em;

}

.search-results-item {
    width: 95% !important;
    height: auto !important;
    padding: 20px !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
}

.search-results-item  i {
    font-size: 30pt !important;
    line-height: 30pt !important;
    padding: 0 !important;
    margin: 0 !important;
}
.search-results-item-info {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 25px;
}

.file-name {
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.file-name .label {
    margin-left: 15px !important;
    left: 15px !important;
}

.file-course, .file-owner {
    color: #999;
}
