.profile-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.profile-container-item {
    width: 48%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.content .header {
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
}

.card {
    width: 100% !important;
    height: 260px;
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding: 5px !important;
    overflow: auto;
}

.card .tag {
    position: absolute !important;
    z-index: 3;
    top: 10px !important;
}

.profile-img {
    height: 200px;
    width: 200px;
    min-width: 200px;
    margin: 20px;
}

.user-info {
    width: 100%;
    height: 95%;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

#userDesc {
    width: 100% !important;
    height: 100px !important;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

#input-desc {
    margin-top: 5px;
}

.user-info .input {
    width: 100% !important;
    color: black !important;
    -webkit-text-fill-color: black;
}

.user-info .input:disabled {
    color: black !important;
    -webkit-text-fill-color: black;
}

.user-files {
    overflow-y: auto;
}

.user-files .card {
    width: 100% !important;
    height: 96% !important;
    padding: 20px !important;
    padding-bottom: 20px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;

}

.bestfit {
    width: auto !important;
    max-width: fit-content !important;
}

#username {
    font-size: 20pt;
    height: 50px !important;
    color: black !important;
    -webkit-text-fill-color: black;
    padding-left: 10px !important;
}

.edit-image-container {
    transition-duration:0.2s;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    display: none;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    color: white;
    font-size: 30pt;
    line-height: 30pt;
    text-align: center;
}

.profile-image:hover, .edit-image-container:hover {
    cursor: pointer;
}

.courses {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

span {
    padding-left: 10px;
    padding-right: 10px;

}

#save-profile-button {
    position: absolute !important;
    z-index: 3 !important;
    top: 80% !important;
    left: 93% !important;
    margin: 0 !important;
    width: auto !important;
}

#save-profile-button i {
    font-size: 18pt;
    line-height: 18pt;
}

.search-results-item {
    width: 100% !important;
    margin-bottom: 20px !important;
}

@media (max-width: 1600px) {
    .profile-container {
        flex-direction: column;
        justify-content: flex-start;
        overflow-y: auto;
        margin-top: 20px;
    }

    .profile-container-item {
        width: 100%;
        height: auto;
        margin-top: 20px;
        min-height: 200px;
    }
}