* {
    margin: 0;
}

body {
    font-family: "Times New Roman";
    
}

article {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  padding: 20px;
}


.container {
  display: table;
  width: 100%;
  height: 700px

}

.existingUser {
	position: absolute;
	left: 0px;
	width: 49%;
	height: 580px;
}

#reg-background{
  	background-image: url("../media/blur-book-stack-books-590493.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
	
}

.existingUser label {
	position: absolute;
    display:flex;
    top: 60%;
    right: 10%;
    left: 10%;
    justify-content:center;
}

.existingUser button {
	background-color: #33A2FF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    display:flex;
    justify-content:center;
    
    position:absolute;
    top: 65%;
    left: 37%;
	
}


.newUser {
  position: absolute;
  right: 0px;
  width: 49%;
  height: 580px;
}

.newUser label {
	width: 100%;
    display: inline-block;
    border: none;
    padding: 20px 0px 5px 5px;
}
.newUser input[type=text], input[type=password] {
    width: 95%;
    padding: 15px;
    display: inline-block;
    border: groove;
}

.newUser button{
	background-color: #33A2FF;
    color: white;
    padding: 10px 20px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    width: 20%;
    float: right;
    display:flex;
    justify-content:center;
    
}



.userType button {
	background-color: #f1f1f1;
	color: black;
    float:left;
    width: 25%
    
}



